/*===== Contact Page =====*/
.get-in-touch-wrap {
  padding: 35px 40px 30px;
  background-size: cover;
  background-position: center;

  > h2 + p {
    margin-top: 10px;
  }

}
.contact-info-box > i {
  font-size: 22px;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $creative-color1;
  color: #FFF;
  text-align: center;
  height: 50px;
}
.contact-info-box > i + .contact-info-inner {
  flex: 0 0 calc(100% - 50px);
  max-width: calc(100% - 50px);
  padding-left: 25px;
}
.contact-info-inner > h4 {font-size: 24px;}
.contact-info-inner > h4 + p {margin-top: 4px;}
.contact-form-wrap {padding-left: 8%;}
.contact-form-wrap > h2,
.get-in-touch-wrap > h2 {font-size: 36px;}
.contact-form-wrap > h2 + form {margin-top: 10px;}
.contact-form-wrap > form input,
.contact-form-wrap > form textarea {
  background-color: rgba(64,166,255,.18);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  height: 62px;
  padding: 20px;
  border: 2px solid transparent;
}
.contact-form-wrap > form input:focus,
.contact-form-wrap > form textarea:focus {border-color: var(--color2);}
.contact-form-wrap > form textarea {height: 150px;}
.get-in-touch-wrap > p + .contact-info-box {margin-top: 35px;}
.contact-map {height: 500px;}

//theme-btn
.creative-btn-thene {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  padding: 17px 26px 16px;
  overflow: hidden;
  border: 3px solid;
  position: relative;
}
//fill-btn2
.creative-btn-fill {
  color: $creative-white;
  border-color: $creative-color1;
  background-color: $creative-color1;

  &:focus, &:hover{
    color: $creative-black;
    border-color: $creative-color1;
    background-color: transparent;
  }

  &.icon-right:hover i:last-child,
  &.icon-right:focus i:last-child {
    color: $creative-white;
  }

}

.rev-btn.fill-btn2:hover,
.rev-btn.fill-btn2:focus,
.bg-color2 .fill-btn2:hover,
.bg-color2 .fill-btn2:focus,
.bg-color2 .fill-btn2.icon-right:hover i:last-child,
.bg-color2 .fill-btn2.icon-right:focus i:last-child {color: var(--color7);}
