/*=== Google Fonts ===*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap');

$Exo: 'Exo 2', sans-serif;
$Rubik: 'Rubik', sans-serif;
$Nunito: 'Nunito', sans-serif;

$creative-white: #FFFFFF;
$creative-black: #333333;
$creative-color1: #502781;
$creative-color2: #C03C7F;
$creative-color3: #983380;
$creative-color5: #c03c7f;
$creative-color6: #142b5f;
$creative-color7: #1f5abc;
$creative-color8: #296599;
$creative-color9: #0d2969;
$creative-color10: #ff4747;
$creative-color11: #1e98ee;
$creative-color12: #172e6f;
$creative-color21: #0c4563;
$creative-color13: #ffba17;
$creative-color14: #C02E7E;
$creative-color15: #3653cf;
$creative-color16: #0790c6;
$creative-color17: #1c7c8c;
$creative-color18: #253a59;
$creative-color19: #3ac9c5;
$creative-color20: #121f54;
