
@import "variables";

@import "addons/font-icons";
@import "addons/font-icons-reset";
@import "~bootstrap-select/sass/bootstrap-select";
@import "addons/bootstrap-select-reset";

//@import "theme/header";
//@import "theme/footer";

//@import "folds/list-properties";
//@import "folds/optin";

@import "pages/home";
@import "pages/contact";
//@import "pages/property";
//@import "pages/filter";
//@import "pages/contact";

.creative-gradient {
  background: #c03c7f;
  background-image: -moz-linear-gradient(-45deg, #c03c7f 0%, #983380 37%, #502781 100%);
  background-image: -webkit-linear-gradient(-45deg, #c03c7f 0%, #983380 37%, #502781 100%);
  background-image: linear-gradient(135deg, #c03c7f 0%, #983380 37%, #502781 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c03c7f', endColorstr='#502781', GradientType=1);
}

.bg-creative-color1{
  background-color: $creative-color1;
}

.bg-creative-color2{
  background-color: $creative-color2;
}

.bg-creative-color21{
  background-color: $creative-color21;
}

.bg-creative{
  background: rgb(231,54,113);
  background: linear-gradient(0deg, rgba(231,54,113,1) 0%, rgba(130,39,81,1) 100%);
}

